
body {
	color: #f0f0f0;

}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Allerta', Helvetica, Arial, sans-serif;
}
 
p,div {
	font-family: 'Crimson Text', Georgia, Times, serif;
}

#clock input {
	margin: 10px 0 10px 0;
}

#homeHeader {
	width: 100%;
	margin: 0;
	height: auto;
}

#logo {
	width: 20%;
}

#info {
	float: right;
	padding: 1em;
	width: 75%;
}

.blurb {
	font-size: 1.8em;
	line-height: 1.4em;
}

.blurb > span {
	color: rgba(255,255,255,.4);
}

#bioExpand {
	display: block;
	float: left; clear: both;
	width: 100%;
	height: 60px;
	margin: 2em 0; padding: 0;
	text-align: center;
	background: rgba(255,255,255,.1);
	color: rgba(255,255,255,.9);
}

#bio {
	display: block;
	width: 100%;
	float: left; clear: both;
	border-bottom: 1px solid rgba(255,255,255,.07);
	border-top: 1px solid rgba(0,0,0,.1);
	border-right: 1px solid rgba(255,255,255,.07);
}

#bio div {
	float: left; clear: none;
	position: relative;
	margin: 0; padding: 2.4%;
	width: 45%;
	height: 400px;
	border-right: 1px solid rgba(255,255,255,.07);
	overflow: hidden;
}

#bio > div > h1 {
	z-index: 1;
	color: rgba(255,255,255,.6);
}

#bio > div > p {
	display: none;
	padding: 1em;
	background: rgba(255,255,255,.6);;
	font-size: 1.2em;
	color: #0f0f0f;
	z-index: 1;
}

#bio > div > img {
	position: absolute;
	top: 0; left: 0;
	z-index: -1;
	width: 100%;
}

#clock {
	width: 100%;
	height: 300px;
	margin: 2em 0 0 0 ;
	
}

#clock h1 {
	float: left; clear: left;
	margin-top: 0;
	margin: 0; padding: 0;
	width: 70%;
	height: 2em;
	text-align: left;
	color: #f0f0f0;
}

.login {
	float:right;
	width: 30%;
	clear: none;
	height: 2em;
	padding: 0; margin: 0;
	padding-top: 3px;
	background: rgba(255,255,255,.1);
	color: rgba(255,255,255,.9);
	text-align: center;
}

.clockText {
	float: right;
	clear: right;
	padding: 1em;
	width: 75%;
}

#clock > img {
	margin: 0; padding: 0;
	width: 20%;
	float: left;
	clear: none;
}

#desc {
	float: left; clear: none;
	width: 50%;
	height: auto;
}


#login {
	position: relative;
	float: right; clear: none;
	width: 75%;
	padding: 1em;
	height: 200px;
}

#login input {
	color: #f0f0f0;
}

#desc p {
	float: left;
	clear: none;
	width: 100%;
}

.runsOn {
	float: left; clear: both;
	width: 100%; height: 40px;
	padding: 0; margin: 0;
	background: rgba(255,255,255,.1);
	color: rgba(255,255,255,.9);
	overflow: hidden;
	text-align: center;
}

#request {
	width: 40%; height: auto;
	float: right;
	clear: none
	margin: 0; padding: 0;
} 

#request h3 {
	margin: 0; padding: 0;
	color: #f0f0f0;
	line-height: 18px;
}

#request input {
	color: #f0f0f0;
}

#request a {
	margin: 0 1em 0 1em;
}

#request label {
	color: #f0f0f0;
}

/***************************
	Mobile!
***************************/
@media (max-width: 640px) {

	#logo,#clock > img  {
		float: left;
		clear: both;
		margin: 0 25% 0 25%;
		width: 50%;
	}

	#info {
		float: left;
		clear: both;
		width: 90%;
		margin: 5%;
	}

	.clockText {
		width: auto;
	}

	.login {
		float: left; clear: both;
		width: 90%;
		margin:  2em 0;
	}


	#clock {
		height: auto;
		width: 100%;
	}

	#clock > h1 {
		float: none;
		clear: both;
		width: 100%;
	}

	#desc { 
		width: 90%;
		margin: 0 5% 0 0;
		height: auto;
		float: none;
		clear: both;
	}

	.clockText p {
		width: 100%; height: auto;
		height: auto;
	}

	.runsOn {
		position: relative;
		width: 100%;
		display: block;
		float: none;
	}

	#request {
		width: 100%;
		float: left;
		clear: both;
	}

	#bioExpand {

	}

	#bio div {
		float: left; clear: both;
		width: 100%%;
		height: 300px auto;
		border-right: 1px solid rgba(255,255,255,.07);
		overflow: hidden;
	}

}