/***************************
	Mobile!
***************************/
@media (max-width: 640px) {
	body {
		background-color: #313131;
		padding: 0; margin: 0;
		overflow-x: hidden;
	}
	
	#entry {
		
	}
	
	#clockFace {
		display: block;
	}
	
	#header {
		height: 100px;
	}
	
	#header > .menu {
		display: inline;
		width: 100%;
		height: 60px;
	}

	body > .container {
		background: transparent;
		width: 100%;
		margin: 0; padding: 0;
		opacity: 1.0;	
	}
	
	
	.mobile {
		display: block;
	}
	.fullsize {
		display: none;
	}
}


/***************************
	Smaller browser or tablet
***************************/
@media (min-width: 641px) {
	body {
		background-color: #313131;
		padding: 0; margin: 0;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		overflow-x: hidden;
	}

	body > .container {
		background: transparent;
		max-width: 640px!;
		padding: 0px;
//		margin-top:60px;
	}
	
	#header {
		/*position: fixed;	
		top:0; left: 20%;*/
		z-index:999;
		height: 60px;
		background: 1px solid rgba(0,0,0,.7);
	}
	
	#footer > div {
		width: 45%; height: 100%;
		padding: 20px;

	}
	
	#header > .menu {
		width: 150px;
	}
	
	.mobile {
		display: none;
	}
	.fullsize {
		display: block;
	}
}
/***************************
	Larger browser on a desktop, or larger tablet
***************************/
@media (min-width: 960px) {
	body > .container {
		width: 960px;
	}

	#footer {
		display: block;
		padding:0;margin:0;
		height: 100%;
		float: left;
		clear: left;
		width: 320px;
	}
	
	#footer > div {
		width: 90%;
		padding: 5%;
		float:none;
		display: block;
	}
	
	ul#meaningList {
		float: right;
		clear: right;
		width: 640px;
	}

}

body {
	padding-top: 10px;
	overflow-x: hidden;
	overflow-y: hidden;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important;
}

h1,h2,h3,h4 {
   font-family: Helvetica Neue, Helvetica, Arial;	
}

a {
  color: #00B7FF;
}

#header {
	display: block;
	width: 100%;
}

#header > .title {
	float: left;
	clear: none;
	color: white;
}

#clockFace {
	display: inline;
	font-size: 2em;
	line-height: 1em;
	padding: 0;margin:0;
	width: 30%;
}

#header > .menu {
	float: right;
	clear: none;

}

#footer {
	color: #fff;
	min-height: 300px;
	border-top: 1px solid rgba(255,255,255,.07);
	border-bottom: 1px solid rgba(0,0,0,.1);
	background: rgba(220,220,220,1);
}

#footer a {
	color: gray;
	font-weight: bold;
}

.date {
	font-size: .8em;
	padding-right: 10px;
	padding-left: 10px;
	float: right;
}

ul {
  list-style: none;
	margin: 0; padding: 0;
}

li.meaning-item {
	display: block;
	position: relative;
	width: 100%; height: 60px;
	margin: 0; padding: 0;
	color: #f0f0f0;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.2em;
	-webkit-user-select: none;
	-webkit-backface-visibility: hidden;
	border-top: 1px solid rgba(255,255,255,.07);
	border-bottom: 1px solid rgba(0,0,0,.1);
}

li.meaning-item > p {
	padding: 10px;
	color: #f0f0f0;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.2em;
}

#entryFormAnchor {
	width: 100%;
}

#entry {
	position: relative;
	width: 100%;
	background: #eee;
	padding: 0; margin: 0;
	font-size: 18px;
	font-weight: bold;
	line-height: 58px;
	text-align: left;
	border-top: 1px solid rgba(255,255,255,.07);
	border-bottom: 1px solid rgba(0,0,0,.1);
}

input {
	background: transparent;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	margin: 10px;
	position: relative;
	width: 95%;
}

.clockface {
	text-align: center;
	font-size: 2em;
	line-height: 2.1em;
	
}

.clockface > h3 {
	font-size: .7em;
	line-height: .8em;
	font-weight: 300;
}

.flashOn {
	color: white;
}

.flashOff {
	color: gray;
}

.delete {
	float:right; clear: none;
	z-index:10;
	
}

#feedback {
	color: #e3e3e3;
}

#people {
	margin: 0;padding: 0px;
	float: left; clear: none;
}

#people p { color: #0e0e0e}

#debug {
	margin: 0;padding: 0px;
	float: left; clear: none;
}