
body {
	color: #f0f0f0;
	overflow-x: hidden;
	padding-top: 10px;
	font-family: 'Allerta', Helvetica, Arial, sans-serif !important;
}


h1,h2,h3,h4,h5,h6 {
	font-family: 'Allerta', Helvetica, Arial, sans-serif;
}
 
p,div {
	font-family: 'Crimson Text', Georgia, Times, serif;
}

#clock input {
	margin: 10px 0 10px 0;
}

#menuButton {
	float: left; clear: left;
	position: absolute;
	top: 5px; left: 5px;
	width: auto;
	height: 20px;
}

#meaningButton {
	float: right; clear: right;
	position: absolute;
	top: 5px; right: 5px;
	width: auto;
	height: 20px;
}


/***************************
	Mobile!
***************************/
@media (min-width: 100px) {
	body {
		background-color: #313131;
		padding: 0; margin: 0;
		overflow-x: hidden;
	}
	
	div {
		display: block;
	}

	#main {
		padding-top: 15px;
		background-color: #313131;
		z-index: 999;
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		min-height: 100%;
	}

	#mainOverlay {
		position: absolute;
		width: 100%; height: 100%;
		display: none; opacity: .6;
		background-color: #000000;
		z-index: 9998;
	}
	
	#menu {
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		z-index: 0;
	}

	#menuButton {
		display: block;
	}
	
	#entry {
		display: block;
	}
	
	#clockFace {
		display: block;
	}
	
	#header {
		height: 100px;
	}
	
	#header > h1 {
		font-size: 1.2em;
		width: 80%;
		overflow: hidden;
	}
	
	#header > .menu {
		display: inline;
		float:right; clear: none;
		width: 20%;
		height: 80px;
	}

	.btn.mobile {
		height: 30px;
		width: 100%;
		text-align: center;
		padding-top: 5px;
	}

	#responseAnchor {
		width: 100%; height: 40px;
		text-align: center;
	}

	#inviteToEnter {
		
		padding: 0; margin: 0;
	}

	#inviteToEnter h1 {
		font-size: 1.2em;
	}

	ul#meaningList {
		margin: 0; padding: 0;
		
	}
	
	.mobile {
		display: block;
	}
	.fullsize {
		display: none;
	}
}



/***************************
	Everything else
***************************/

#inviteToEnter > div {
	display: block;
	position: relative;
	width: 100%; height: 60px;
	margin: 0; padding: 0;
	color: #fff;
	background-color: rgba(154,180,175,1);
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.2em;
	-webkit-user-select: none;
	-webkit-backface-visibility: hidden;
	border-top: 1px solid rgba(255,255,255,.07);
	border-bottom: 1px solid rgba(0,0,0,.1);
}

#inviteToEnter h1 {
	text-align: center;
	padding: 10px;
	color: #fff;
}

#responseAnchor {	
	margin: 0; 
	color: white;
	background-color: rgba(0,0,0,.4);
	border-top: 1px solid rgba(255,255,255,.07);
	border-bottom: 1px solid rgba(0,0,0,.1);
	
}

li.meaning-item {
	display: block;
	position: relative;
	width: 100%; height: 60px;
	margin: 0; padding: 0;
	color: #f0f0f0;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.2em;
	-webkit-user-select: none;
	-webkit-backface-visibility: hidden;
	border-top: 1px solid rgba(255,255,255,.07);
	border-bottom: 1px solid rgba(0,0,0,.1);
}

li.meaning-item > p {
	padding: 10px;
	color: #f0f0f0;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.2em;
}

#entry {
	position: relative;
	border-top: 1px solid rgba(255,255,255,.07);
	border-bottom: 1px solid rgba(0,0,0,.1);
}

#entryFail {
	background: rgba(255,180,180,.8);
	border-top: 1px solid rgba(255,255,255,.07);
	border-bottom: 1px solid rgba(0,0,0,.1);
}

input {
	background: transparent;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	margin: 10px;
	position: relative;
	width: 90%;
}

.clockface {
	text-align: center;
	font-size: 2em;
	line-height: 2.1em;
	
}

.clockface > h3 {
	font-size: .7em;
	line-height: .8em;
	font-weight: 300;
}

/* Utility classes  */

.flashOn {
	color: white;
}

.flashOff {
	color: gray;
}

.delete {
	float:right; clear: none;
	z-index:10;
	
}
.error {
	display: none;
}

.hide {
	display: none!important;
}