@media (max-width: 640px) {
	body {
		background-color: #313131;
		padding: 0; margin: 0;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		overflow-x: hidden;
	}

	body > .container {
		background: transparent;
		width: 100%;
		margin: 0; padding: 0;
		opacity: 1.0;	
	}
	
	.mobile {
		display: block;
	}
	.fullsize {
		display: none;
	}
}

@media (min-width: 640px) {
	body {
		background-color: #313131;
		padding: 0; margin: 0;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		overflow-x: hidden;
	}

	body > .container {
		background: transparent;
		max-width: 640px!;
		padding: 0px;
	}
	
	.mobile {
		display: none;
	}
	.fullsize {
		display: block;
	}
}

body {
	padding-top: 60px;
}

a {
  color: #00B7FF;
}

#header {
	position: absolute;
	top: 0; left;0
	display: block;
	height: 60px;
	width: 100%;
}

#header > #clockface {
	float: left;
	padding: 10px 0;
	margin: 10 0;
	height: 100%;
	width: 30%;
}

#header > .menu {
	float: right;
	clear: none;
	width: 30%;
}

#footer {
	background: rgba(220,220,220,1);
	height: 150px;
	color: #fff;
	border-top: 1px solid rgba(255,255,255,.07);
	border-bottom: 1px solid rgba(0,0,0,.1);
	
}

.date {
	font-size: .8em;
	padding-right: 10px;
	padding-left: 10px;
	float: right;
}

ul {
  list-style: none;
	margin: 0; padding: 0;
}

li.meaning-item {
	display: block;
	position: relative;
	width: 100%; height: 100%;
	margin: 0; padding: 0;
	color: #f0f0f0;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.2em;
	-webkit-user-select: none;
	-webkit-backface-visibility: hidden;
	border-top: 1px solid rgba(255,255,255,.07);
	border-bottom: 1px solid rgba(0,0,0,.1);

}

#entry {
	position: relative;
	top: 60;
	left: 0;
	width: 100%!;
	background: #eee;
	padding: 0; margin: 0;
	font-size: 18px;
	font-weight: bold;
	line-height: 58px;
	text-align: left;
	border-top: 1px solid rgba(255,255,255,.07);
	border-bottom: 1px solid rgba(0,0,0,.1);
}

input {
	background: transparent;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	margin: 10px;
	position: relative;
	width: 95%;
}

.clockface {
	text-align: center;
	font-size: 2em;
	line-height: 2.1em;
	
}

.clockface > h3 {
	font-size: .7em;
	line-height: .8em;
	font-weight: 300;
}

.flashOn {
	color: white;
}

.flashOff {
	color: gray;
}

#feedback {
	color: #e3e3e3;
}

#people {
	margin: 0;padding: 20px;
	float: left; clear: none;
	width: 45%;
	
}

#debug {
	margin: 0;padding: 20px;
	float: left; clear: none;
	width: 45%;
	
}