script(src='/js/clock.js')

.container.base
	#clock
		.clockface
		.timeLeft

	#entry.form
		.row-fluid
			h6 I spent time today doing
			#selection
				select.pull-left
					option loading...
			#newThing
				btn.btn.btn-mini Specify
			input#meaningEntry(type='text', placeholder='How did you spend your time?')
			#timeEntry
				input#meaningDuration.pull-left(type='text', pattern='[0-9]*', placeholder='How many hours did you spend?
	')
			btn#submit.btn.btn-primary.align-center Submit!

	#content