script(src='/js/clock.js')


#meaningClock.container.base
	#header.navbar.navbar-fixed
		.navbar-inner
			.container
				#clockFace.pull-left
				.pull-right
					a.btn.addOne.pullRight.fullsize Add Meaningful Time
					a.btn.addOne.pullRight.mobile + Meaning
	#entryFormAnchor
	ul#meaningList

	#footer.container
		.row
			.span2
			.span4
				h3 GobbleGobbleGobble
				p: a(href="http://relay.st") Relay Studio
				p: a(href="http://architext.com") Architext
			.span2
			.span4
			p: a.removeAll(href='#') Remove all
<!-- templates -->
script#meaning-list(type='text/template')


script#meaning-item(type='text/template')
	li.meaning-item
		<%= meaning %> for <%= duration %> hours
		.date.fullsize <%= date %>
		input.edit(type="text") <%= meaning %>
		a.btn.hide.delete.pull-right x

script#clock(type='text/template')

script#dataEntry(type='text/template')
	#entry.form
		input#meaningEntry(type='text', placeholder='How did you spend your time?')
		input#meaningDuration(type='text', pattern='[0-9]*', placeholder='How many hours did you spend?')
		a#submit.btn.btn-primary Submit!
