script(src='/js/clock.js')


#meaningClock.container.base
	#header.navbar.navbar-fixed
		.navbar-inner
			.container
				.pull-left
					a.brand Meaning Clock
				#clockFace.pull-right
				.pull-right
					a.btn.addOne.pullRight Add Meaningful Time
	#entryFormAnchor
	ul#meaningList

	#footer

<!-- templates -->
script#meaning-list(type='text/template')


script#meaning-item(type='text/template')
	li.meaning-item
		<%= meaning %> for <%= duration %>
		a.btn.hide.delete.pull-right x

script#clock(type='text/template')
	#clock
		.clockface
		.timeLeft

script#dataEntry(type='text/template')
	#entry.form
		input#meaningEntry(type='text', placeholder='How did you spend your time?')
		input#meaningDuration(type='text', pattern='[0-9]*', placeholder='How many hours did you spend?')
		a#submit.btn.btn-primary Submit!
