script(src='/js/clock.js')


#meaningClock.container.base
	#header
		h1.title
			#clockFace
			| Meaning Clock
		.menu
			a.btn.addOne.pullRight.fullsize Add Meaningful Time
			a.btn.addOne.pullRight.mobile Add Meaning
	#entryFormAnchor
	#inviteToEnter
	ul#meaningList

	#footer
		#responseAnchor
		#people
			p The Meaning clock reflects meaningful time back on you. There is only so much time to spend, so why not spend it meaningfully?
			h3 GobbleGobbleGobble
			p G3 is a design collective making robots that give you soul food.
			div
				a(href="http://architext.com") Zahra 
				b  + 
				a(href="http://relay.st") Andrew
		#debug
			p: a(href="/logout") Logout





<!-- templates -->
script#meaning-list(type='text/template')

script#dayView(type='text/template')
	ul.stats
		li.totalTime
		li.percentMeaningful
		li.keyWords

script#meaning-item(type='text/template')
	a.btn.hide.delete.onHover.pull-right x
	p
		<%= meaning %> for <%= duration %> hours
	.date.hide <%= date %>
	input.edit(type="text", placeholder="<%= meaning %>").hide

script#blankMeaning(type='text/template')
	div
		a.btn.hide.delete.onHover.pull-right add Meaning
		h1 Have you done anything meaningful today?

script#clock(type='text/template')

script#dataEntry(type='text/template')
	#entry.form
		input#meaningEntry(type='text', placeholder='How did you spend your time?')
		input#meaningDuration(type='text', pattern='[0-9]*', placeholder='How many hours did you spend?')
		a#submit.btn.btn-primary Submit!
script#noDataEntry(type='text/template')
	#entryFail
		h2 Sorry, but there are only 24 hours in a day. 
		p Correct your time for today if you want to fill in more meaningful time
script#noContentEntry(type='text/template')
	#entryFail
		h2 Sorry, but that time needs meaning. 
		p What kind of time makes you happy or leaves you feeling good about your life?
		p Give us an hour or two of that!

script#responsePane(type='text/template')
	#responsePane
		.response <%= response %>
		a.btn.delete.hide.onHover x