script(src='/js/home.js')
link(rel='stylesheet', href='/css/homepage.css')
link(href='http://fonts.googleapis.com/css?family=Crimson+Text', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Allerta', rel='stylesheet', type='text/css')
.container
	#homeHeader
		img#logo(src='img/logo.png', style='text-align: center')
		#info
			p.blurb g3 is a design <span>collective</span> creating objects, experiences, and interventions that challenge our <span>daily quest for purpose</span> in a <span id="1">digitally activated</span>, <span id="2">database tracked</span>, but fundamentally <span id="3">physical</span> world.
	
	#clock
		img(src="img/clock.png")
		.clockText
			h1 The Meaning Clock
			a.login(href='#') Login to the Meaning Clock
			#desc 
				p The Meaning Clock is an interactive design object that allows people to easily (perhaps frustratingly) quantify the time they see as meaningful. It serves to challenge our need for structured and tracked time, and to force the question “What's meaningful for <span style="font-style: italic; font-weight: 800;">me</span>?" 
				.runsOn Runs on iphone, tablet, and desktop
					br
					| Physical alarm clock coming soon!

			#request
				h3 Signup for the meaning clock!
				
				form.form.request
					.error We need all three of these guys!
					input#username(type='text', name='name', placeholder='username')				
					input#email(type='text', name='email', placeholder='your@email.com')
					input#password(type='password', name='password', placeholder='password')
					input#newRequest(type='submit',value='Register',style="display: inline")

				p.success Great, thank you! You can access the meaning clock at any time at <a href="/clock">ggg.st/clock</a>.
		#login
			h1 The Meaning Clock
			p Don't have an account? 
			p
				a.backToHome(href="#") Register now!
			form.request(action='/login', method='post')
				input(type='text', name='username', placeholder='Username')
				input(type='password',name='password',placeholder='Password')
				input(type='submit',value='Login')


	#bioExpand
		h1 g3 is Zahra and Andrew
	#bio
		#andrew
			h1 Andrew Lovett-Barron
			img(src="img/andrew.jpg")
			p Andrew is a designer, technologist, and principal of Relay, a design consultancy creating interactive experiences at a human scale. 
			p  Relay focuses on designing for computer vision and mobile technologies, which allow us to build interactive experiences for groups and crowds.
			
		#zahra
			h1 Zahra Ebrahim
			img(src="img/zahra.jpg")
			p Zahra is the Founder and Principal of the design think tank and creative agency, archiTEXT.  
			p Born in Kenya, raised in Vancouver, and educated at McGill University in Montreal, she started archiTEXT at 22 years old as a place to bring together diverse groups to tackle the intersections of architecture and design with social change, to explore the impact of design and creativity on systems change, and to engage the public in a discourse of design and design thinking as a mechanism for creative problem solving.  