
#login
	a(href="/") Return to g3 home
	form(action='/login', method='post')
		div
			label Username
			input(type='text', name='username', placeholder='Username')
		div
			label Password
			input(type='password',name='password',placeholder='Password')
		div
			input(type='submit',value='Login')