#login
	form(action='/login', method='post')
		div
			label Username
			input(type='text', name='username')
		div
			label Email
			input(type='text', name='email')
		div
			label Password
			input(type='password',name='password')
		div
			label Re-enter Password
			input(type='password',name='passwordcheck')
		div
			input(type='submit',value='Register')